body {
    background: #111;
    font-family: Arial;
    color: white;
    text-align: center;
    padding-top: 60px;
}

.card {
    background: #222;
    padding: 30px;
    width: 420px;
    margin: auto;
    border-radius: 12px;
    box-shadow: 0 0 20px #000;
}

button {
    padding: 10px 20px;
    background: #0af;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 15px;
}

.result {
    margin-top: 20px;
    font-size: 20px;
    padding: 15px;
    background: #333;
    border-radius: 8px;
}
